.container {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    background-color: lightgray;
}

.output-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    background-color: blue;
}

.flex-item {
    flex-basis: 200px;
    padding: 20px;
    margin: 20px;
    background-color: darkgray;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}

#ok {
    color: red;
    border: 2px solid red;
}
#cancel {
    color: white;
    background-color:black;
}
#text {
    background-color: rgb(56, 207, 207);

    flex-basis: 200px;
    padding: 20px;
    margin: 20px;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}

.toggleOn {
    background-color: white;
}
.toggleOff {
    background-color: darkgray;
}